<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台首页</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/common/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/common/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/common/vendor/pnotify/pnotify.custom.min.css" media="all" type="text/css" />
    <link rel="stylesheet" href="/static/common/vendor/pace/pace.hm.css">
    <link rel="stylesheet" href="/static/common/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="/static/common/vendor/dialog/sweetalert2.min.css">
    <link rel="stylesheet" href="/static/common/css/admin.css">
    <!-- <link rel="stylesheet" href="/static/common/js/layui/css/layui.css">
    <link rel="stylesheet" href="/static/common/js/dist/vue.css"> -->
    <!-- <link rel="stylesheet" href="/static/common/css/admin-first.css"> -->

</head>

<body>
    <div id="hm-shade"></div>
    <div id="hm-top">
        <nav class="navbar navbar-default">
            <div class="container hm-nav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <!-- Single button -->
                    <button type="button" class="btn dropdown-toggle navbar-toggle collapsed hm-nav-hide-btn user-portrait" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/upload/admin/img/portrait.jpg" alt="">Action <span class="glyphicon glyphicon-menu-down"></span>
                      </button>
                    <ul class="dropdown-menu hm-dd-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                    <button type="button" class="navbar-toggle collapsed hm-nav-hide-btn" data-toggle="collapse" data-target="#hm-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- <button type="button" class="navbar-toggle collapsed hm-nav-hide-btn" data-toggle="collapse" data-target="#hm-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation111</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> -->
                    <div id="hm-brand">
                        <a class="navbar-brand" href="#">Brand</a>
                        <a class="navbar-brand zoom"><i class="glyphicon glyphicon-th-large"></i></a>
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="hm-navbar-collapse-1">
                    <ul id="hm_menu_top" class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">菜单</a></li>
                        <li><a href="#">撒旦</a></li>
                        <li><a href="#">阿斯蒂芬</a></li>
                        <li><a href="#">胜多负少</a></li>
                        <li><a href="#">撒地方</a></li>
                        <li><a href="#">放大</a></li>
                        <li><a href="#">个的</a></li>
                        <li><a href="#">啊撒旦</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle user-portrait" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="hm-history-notice"><img src="/upload/admin/img/info-orange.jpg" alt="">消息历史</a>
                            <ul class="dropdown-menu history" aria-labelledby="hm-history-notice">
                                <li><a onclick="$(this).trigger('pnotify.history-last');" href="#">最后一个</a></li>
                                <li><a onclick="$(this).trigger('pnotify.history-all');" href="#">所有历史</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle user-portrait" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/upload/admin/img/portrait.jpg" alt="">Dropdown <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu hm-dd-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <div id="main-container" class="container animated bounceOutLeft ">
        <div id="hm-left" class="col-md-3" style="">
            <!-- 用户资料 -->
            <div class="profile">
                <div class="profile_pic">
                    <a href="#" class="dropdown-toggle user-portrait" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="portrait">
                        <img src="/upload/admin/img/portrait.jpg" alt="..." class="img-circle profile_img">
                    </a>
                    <ul class="dropdown-menu hm-dd-menu" aria-labelledby="portrait">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="profile_info">
                    <span>Welcome</span>
                    <h2>John Doe</h2>
                </div>
            </div>
            <div id="sidebar-menu">
                <div id="hm-home">
                    <a href="#" style=""><i class="fa fa-home" style=""></i>&nbsp;&nbsp;&nbsp;<span style="">后台首页</span></a>
                </div>
                <div class="panel-group" id="hm_menu_second">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#panel1" class="panel-toggle" data-toggle="collapse" data-parent="#hm_menu_second">
                                    <i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;控制面板<span class="fa fa-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                        <div id="panel1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a data-url="html/panel/personal.html"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;<span>个人信息</span></a></li>
                                    <li><a data-url="html/panel/personal.html"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;<span>个人信息</span></a></li>
                                    <li><a data-url="html/panel/personal.html"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;<span>个人信息</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#panel2" class="panel-toggle" data-toggle="collapse" data-parent="#hm_menu_second">
                                    <i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;控制面板<span class="fa fa-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                        <div id="panel2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a data-url="html/panel/personal.html"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;<span>个人信息</span></a></li>
                                    <li><a data-url="html/panel/personal.html"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;<span>个人信息</span></a></li>
                                    <li><a data-url="html/panel/personal.html"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;<span>个人信息</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#panel3" class="panel-toggle" data-toggle="collapse" data-parent="#hm_menu_second">
                                    <i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;控制面板<span class="fa fa-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                        <div id="panel3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a data-url="html/panel/personal.html"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;<span>个人信息</span></a></li>
                                    <li><a data-url="html/panel/personal.html"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;<span>个人信息</span></a></li>
                                    <li><a data-url="html/panel/personal.html"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;<span>个人信息</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hm-dropdown" class="dropdown" style="display:none;">
                    <ul>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false" id="me"><i class="fa fa-home" ></i>&nbsp;&nbsp;&nbsp;<span>后台首页</span></a>
                            <ul class="dropdown-menu hm-dd" aria-labelledby="me">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="hm-right" style="overflow-x:auto;overflow-y:auto;">
            <ul class="nav nav-tabs" id="hm-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#one" aria-controls="home" role="tab" data-toggle="tab">首页&nbsp;&nbsp;<i class="fa fa-times" onclick="deleteTab(0)"></i></a>

                </li>

                <li role="presentation">
                    <a href="#two" aria-controls="home" role="tab" data-toggle="tab">动向汇报&nbsp;&nbsp;<i class="fa fa-times" onclick="deleteTab(0)"></i></a>
                </li>
            </ul>
            <div class="tab-content" id="hm-tabs-content">
                <div role="tabpanel" class="tab-pane active" id="one">
                    111
                    <!-- <iframe id="iframepage0" name="iframepage1" width="100%" frameborder="0" scrolling="no" src="/business/system/manage/welcome/list/page" height="311"></iframe> -->
                </div>

                <div role="tabpanel" class="tab-pane" id="two">
                    222
                    <!-- <iframe id="iframepage4" name="iframepage5" width="100%" frameborder="0" scrolling="no" src="/business/workReport/manage/list/myPage" height="311"></iframe> -->
                </div>
            </div>
            <!-- <div class="ccc fa-color-1">1</div>
            <div class="ccc fa-color-2">2</div>
            <div class="ccc fa-color-3">3</div>
            <div class="ccc fa-color-4">4</div>
            <div class="ccc fa-color-5">5</div>
            <div class="ccc fa-color-6">6</div>
            <div class="ccc fa-color-7">7</div>
            <div class="ccc fa-color-8">8</div>
            <div class="ccc fa-color-9">9</div>
            <div class="ccc fa-color-10">10</div>
            <div class="ccc fa-color-11">11</div>
            <div class="ccc fa-color-12">12</div>
            <div class="ccc fa-color-13">13</div>
            <div class="ccc fa-color-14">14</div>
            <div class="ccc fa-color-15">15</div>
            <div class="ccc fa-color-16">16</div>
            <div class="ccc fa-color-17">17</div>
            <div class="ccc fa-color-18">18</div>
            <div class="ccc fa-color-19">19</div>
            <div class="ccc fa-color-20">20</div> -->
        </div>
    </div>
</body>
<script src="/static/common/vendor/pace/pace.min.js"></script>
<script src="/static/common/vendor/jquery/jquery-2.2.4.min.js"></script>
<script src="/static/common/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/common/vendor/pnotify/pnotify.custom.min.js"></script>
<script src="/static/common/vendor/dialog/sweetalert2.min.js"></script>
<!-- <script src="/static/common/js/jquery/jquery-1.12.3.min.js"></script> -->
<script src="/static/common/js/jquery/jquery.cookie.js"></script>
<!-- <script src="/static/common/js/layui/layui.all.js"></script> -->
<script src="/static/common/js/admin/language/language.js"></script>
<script src="/static/common/js/admin/global.js"></script>
<script src="/static/common/js/admin/hmMenuTab.js"></script>
<script src="/static/common/js/admin/common.js"></script>

<!-- <script src="/static/common/js/dist/hm-back-stage.js"></script> -->
<script type="text/javascript">
    // $('#hm-left').addClass('animated bounceOutLeft');
    // hm.dialog();
    // hm.languageSet('en');
    // hm.notice("info");
    // hm.notice("warn");
    // hm.notice("error");
    // hm.notice("success");
    // $('#accordion').collapse('hide')
    $('.zoom').on('click', function() {
        var that = $(this);
        if (that.attr('data')) {
            // that.find('#hm-left').animate();
            that.attr('data', '');
            $('#main-container').removeClass('zoom');
        } else {
            that.find('#hm-left').animate();
            that.attr('data', '1');
            $('#main-container').addClass('zoom');

        }
    });




    // $('#hm-right').height(hg);
    hm.browserType("index");

    // browserRedirect();
    $('#hm-navbar-collapse-1 li').on('click', function() {
        $('#hm-navbar-collapse-1').collapse('hide')
    });



    // /Sidebar

    // $('.hm-nav-hide-btn').on('click', function() {
    //     $('#hm-navbar-collapse-1').addClass('add');
    // });
    // Base.languageSet('en');
    //
    // if ($.cookie('language') == null) {
    //     alert($.cookie('language'));
    //     $.cookie('language', Base.config.language, {
    //         // path: "/",
    //         expires: 7,
    //         // secure: true
    //     })
    // }
    // hm.menuTab.fullSet({
    //     topFilter: 'asdfsa',
    // });
    // Base.errorDialog(hm.menuTab.config.topFilter, 3000);
</script>

</html>
