<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台首页</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/common/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/common/css/admin.css">
    <!-- <link rel="stylesheet" href="/static/common/js/layui/css/layui.css">
    <link rel="stylesheet" href="/static/common/js/dist/vue.css"> -->
    <!-- <link rel="stylesheet" href="/static/common/css/admin-first.css"> -->
</head>

<body class="nav-md">
    <div id="hm-top">
        <nav class="navbar navbar-default">
            <div class="container hm-nav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <!-- Single button -->
                    <button type="button" class="btn dropdown-toggle navbar-toggle collapsed hm-nav-hide-btn user-portrait" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/upload/admin/img/portrait.jpg" alt="">Action <span class="glyphicon glyphicon-menu-down"></span>
                      </button>
                    <ul class="dropdown-menu hm-dd-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                    <button type="button" class="navbar-toggle collapsed hm-nav-hide-btn" data-toggle="collapse" data-target="#hm-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <button type="button" class="navbar-toggle collapsed hm-nav-hide-btn" data-toggle="collapse" data-target="#hm-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation111</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="hm-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">菜单</a></li>
                        <li><a href="#">撒旦</a></li>
                        <li><a href="#">阿斯蒂芬</a></li>
                        <li><a href="#">胜多负少</a></li>
                        <li><a href="#">撒地方</a></li>
                        <li><a href="#">放大</a></li>
                        <li><a href="#">个的</a></li>
                        <li><a href="#">啊撒旦</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle user-portrait" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/upload/admin/img/portrait.jpg" alt="">Dropdown <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu hm-dd-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <div id="main-container" class="container">
        <div id="hm-left" class="col-md-3" style="overflow-x:auto;overflow-y:auto;">
            <!-- 用户资料 -->
            <div class="profile">
                <div class="profile_pic">
                    <a href="#" class="dropdown-toggle user-portrait" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="/upload/admin/img/portrait.jpg" alt="..." class="img-circle profile_img">
                    </a>
                    <ul class="dropdown-menu hm-dd-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="profile_info">
                    <span>Welcome</span>
                    <h2>John Doe</h2>
                </div>
            </div>
            <div id="sidebar-menu">
                <div class="panel-group" id="hm-accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#panel1" class="panel-toggle" data-toggle="collapse" data-parent="#hm-accordion">
                                    卡1
                                </a>
                            </div>
                        </div>
                        <div id="panel1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a data-url="html/panel/personal.html"><i class="larry-icon" data-icon=""></i>  <span>个人信息</span></a></li>
                                    <li><a data-url="html/panel/personal.html"><i class="larry-icon" data-icon=""></i>  <span>个人信息</span></a></li>
                                    <li><a data-url="html/panel/personal.html"><i class="larry-icon" data-icon=""></i>  <span>个人信息</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#panel2" class="panel-toggle" data-toggle="collapse" data-parent="#hm-accordion">
                                    卡2
                                </a>
                            </div>
                        </div>
                        <div id="panel2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a data-url="html/panel/personal.html"><i class="larry-icon" data-icon=""></i>  <span>个人信息</span></a></li>
                                    <li><a data-url="html/panel/personal.html"><i class="larry-icon" data-icon=""></i>  <span>个人信息</span></a></li>
                                    <li><a data-url="html/panel/personal.html"><i class="larry-icon" data-icon=""></i>  <span>个人信息</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#panel3" class="panel-toggle" data-toggle="collapse" data-parent="#hm-accordion">
                                    卡2
                                </a>
                            </div>
                        </div>
                        <div id="panel3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a data-url="html/panel/personal.html"><i class="larry-icon" data-icon=""></i>  <span>个人信息</span></a></li>
                                    <li><a data-url="html/panel/personal.html"><i class="larry-icon" data-icon=""></i>  <span>个人信息</span></a></li>
                                    <li><a data-url="html/panel/personal.html"><i class="larry-icon" data-icon=""></i>  <span>个人信息</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="hm-right" style="overflow-x:auto;overflow-y:auto;">

        </div>
    </div>
</body>
<script src="/static/common/vendor/jquery/jquery-2.2.4.min.js"></script>
<script src="/static/common/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- <script src="/static/common/js/jquery/jquery-1.12.3.min.js"></script> -->
<script src="/static/common/js/jquery/jquery.cookie.js"></script>
<script src="/static/common/js/layui/layui.all.js"></script>
<script src="/static/common/js/admin/global.js"></script>
<script src="/static/common/js/admin/hmMenuTab.js"></script>
<script src="/static/common/js/admin/common.js"></script>
<!-- <script src="/static/common/js/dist/hm-back-stage.js"></script> -->
<script type="text/javascript">
    // $('#accordion').collapse('hide')

    $('.panel-heading').collapse("hide");
    $('.panel-toggle').eq(0).click();
    $('.panel-title').eq(0).addClass('active');
    $('.panel-title').on('click', function() {
        $('.panel-title').removeClass('active');
        $(this).addClass('active');
    });



    // $('#hm-right').height(hg);
    function browserRedirect() {
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        document.writeln("您的浏览设备为：");
        if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            // document.writeln("phone");
            var hg = window.innerHeight + 10;
            $('#main-container').height(hg);
            // $('#hm-navbar-collapse-1').addClass('hm-in');
        } else {
            // document.writeln("pc");
            var hg = window.innerHeight - 51;
            $('#main-container').height(hg);
        }
    }

    browserRedirect();
    $('#hm-navbar-collapse-1 li').on('click', function() {
        $('#hm-navbar-collapse-1').collapse('hide')
    });
    // Sidebar
    $(document).ready(function() {
        var $SIDEBAR_MENU = $('#sidebar-menu'),
            $NAV_MENU = $('.nav_menu'),
            $FOOTER = $('footer'),
            $BODY = $('body'),
            $LEFT_COL = $('.left_col'),
            $RIGHT_COL = $('.right_col'),
            CURRENT_URL = window.location.href.split('?')[0],
            $MENU_TOGGLE = $('#menu_toggle'),
            $SIDEBAR_FOOTER = $('.sidebar-footer');
        // TODO: This is some kind of easy fix, maybe we can improve this
        var setContentHeight = function() {
            // reset height
            $RIGHT_COL.css('min-height', $(window).height());

            var bodyHeight = $BODY.outerHeight(),
                footerHeight = $BODY.hasClass('footer_fixed') ? 0 : $FOOTER.height(),
                leftColHeight = $LEFT_COL.eq(1).height() + $SIDEBAR_FOOTER.height(),
                contentHeight = bodyHeight < leftColHeight ? leftColHeight : bodyHeight;

            // normalize content
            contentHeight -= $NAV_MENU.height() + footerHeight;

            $RIGHT_COL.css('min-height', contentHeight);
        };

        $SIDEBAR_MENU.find('a').on('click', function(ev) {
            var $li = $(this).parent();

            if ($li.is('.active')) {
                $li.removeClass('active active-sm');
                $('ul:first', $li).slideUp(function() {
                    setContentHeight();
                });
            } else {
                // prevent closing menu if we are on child menu
                if (!$li.parent().is('.child_menu')) {
                    $SIDEBAR_MENU.find('li').removeClass('active active-sm');
                    $SIDEBAR_MENU.find('li ul').slideUp();
                }

                $li.addClass('active');

                $('ul:first', $li).slideDown(function() {
                    setContentHeight();
                });
            }
        });

        // toggle small or large menu
        $MENU_TOGGLE.on('click', function() {
            if ($BODY.hasClass('nav-md')) {
                $SIDEBAR_MENU.find('li.active ul').hide();
                $SIDEBAR_MENU.find('li.active').addClass('active-sm').removeClass('active');
            } else {
                $SIDEBAR_MENU.find('li.active-sm ul').show();
                $SIDEBAR_MENU.find('li.active-sm').addClass('active').removeClass('active-sm');
            }

            $BODY.toggleClass('nav-md nav-sm');

            setContentHeight();
        });

        // check active menu
        $SIDEBAR_MENU.find('a[href="' + CURRENT_URL + '"]').parent('li').addClass('current-page');

        $SIDEBAR_MENU.find('a').filter(function() {
            return this.href == CURRENT_URL;
        }).parent('li').addClass('current-page').parents('ul').slideDown(function() {
            setContentHeight();
        }).parent().addClass('active');

        // recompute content when resizing
        $(window).smartresize(function() {
            setContentHeight();
        });

        setContentHeight();

        // fixed sidebar
        if ($.fn.mCustomScrollbar) {
            $('.menu_fixed').mCustomScrollbar({
                autoHideScrollbar: true,
                theme: 'minimal',
                mouseWheel: {
                    preventDefault: true
                }
            });
        }
    });
    /**
     * Resize function without multiple trigger
     *
     * Usage:
     * $(window).smartresize(function(){
     *     // code here
     * });
     */
    (function($, sr) {
        // debouncing function from John Hann
        // http://unscriptable.com/index.php/2009/03/20/debouncing-javascript-methods/
        var debounce = function(func, threshold, execAsap) {
            var timeout;

            return function debounced() {
                var obj = this,
                    args = arguments;

                function delayed() {
                    if (!execAsap)
                        func.apply(obj, args);
                    timeout = null;
                }

                if (timeout)
                    clearTimeout(timeout);
                else if (execAsap)
                    func.apply(obj, args);

                timeout = setTimeout(delayed, threshold || 100);
            };
        };

        // smartresize
        jQuery.fn[sr] = function(fn) {
            return fn ? this.bind('resize', debounce(fn)) : this.trigger(sr);
        };

    })(jQuery, 'smartresize');
    // /Sidebar

    // $('.hm-nav-hide-btn').on('click', function() {
    //     $('#hm-navbar-collapse-1').addClass('add');
    // });
    // Base.languageSet('en');
    //
    // if ($.cookie('language') == null) {
    //     alert($.cookie('language'));
    //     $.cookie('language', Base.config.language, {
    //         // path: "/",
    //         expires: 7,
    //         // secure: true
    //     })
    // }
    // hm.menuTab.fullSet({
    //     topFilter: 'asdfsa',
    // });
    // Base.errorDialog(hm.menuTab.config.topFilter, 3000);
</script>

</html>
