/*顶部导航开始-----------------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #E0E0E0;
}


/*定义滚动条轨道 内阴影+圆角*/

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    background-color: #E0E0E0;
}


/*定义滑块 内阴影+圆角*/

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .3);
    background-color: #807F80;
}

#hm-top .navbar {
    background-color: #3498db;

    border: 0;
    /*border-bottom: 1px solid #D9DEE4;*/
    z-index: 999;
}

#hm-top .navbar-default .navbar-brand, #hm-top .navbar-default .navbar-nav>li>a, #hm-top .navbar-default .navbar-nav>.active>a, #hm-top .navbar-default .navbar-nav>.active>a:focus, #hm-top .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
}

#hm-top .navbar-default .navbar-nav>li>a:hover, #hm-top .navbar-default .navbar-nav>li>a:hover>span.glyphicon {
    color: #fff;
}

#hm-top .navbar-default .navbar-nav>.active>a, #hm-top .navbar-default .navbar-nav>.active>a:focus, #hm-top .navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(0,0,0,0.1);
    color: white;
}

#hm-top #hm-brand {
    width: 159px;
}

#hm-top #hm-brand a {
    cursor: pointer;
    display: block;
}

#hm-top #hm-brand .zoom {
    float: right;
}
#hm-top #hm-brand .zoom>i {
    font-size: 20px;
    color: #fff;
}

#hm-top #hm-brand .zoom>i:hover {
    color: #1ABB9C;
}
#hm-top #hm-brand .on>i{
    color: #1ABB9C;
}
@media (min-width: 767px) {
    #hm-top {
        overflow: hidden;
    }
    #hm-top .navbar {
        border-radius: 0;
    }
    #hm-top .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #hm-top .navbar-right {
        /*display: none;*/
        float: right!important;
        margin-right: -30px;
    }
}

@media (max-width: 767px) {
    #hm-top .navbar-right {
        display: none;
        float: right!important;
        margin-right: -15px;
    }
}

#hm-top .hm-nav {
    /*导航内边距去除*/
    padding-right: 14px;
}

@media (min-width: 768px) {
    #hm-top .container {
        width: 100%;
    }
}

#hm-top .hm-nav-hide-btn {
    /*隐藏按钮设置个高度*/
    min-height: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

#hm-top .navbar-default .hm-nav-hide-btn {
    /*去除隐藏按钮边框*/
    color: #fff;
    border: 0;
    border-radius: 0;
}

#hm-top .hm-dd-menu {
    /*下拉菜单设置*/
    left: initial;
    right: 0;
    border-radius: 0;
    margin: 0;
    top: 51px;
    border: 1px solid #D9DEE4;
    background-clip: inherit;
    border-top: 0;
    border-right: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: fixed;
    z-index: 9999;
}

#hm-top .hm-dd {
    top: 1px;
    border-radius: 0;
    border: 1px solid #D9DEE4;
    background-clip: inherit;
    border-top: 0;
    border-right: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#hm-top .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

#hm-top .glyphicon {
    /*导航图标*/
    font-weight: bold;
    font-size: 8px;
    color: #fff;
}

#hm-top .navbar-toggle:focus, .navbar-default .navbar-toggle {
    padding: 0 20px;
}

#hm-top .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    /*给小屏用户设置个点击背景色*/
    background-color: rgba(0,0,0,0.1);
    color: #fff;
}

#hm-top .navbar-toggle:focus>span.icon-bar, #hm-top .navbar-toggle:hover>span.icon-bar {
    background-color: #fff;
}

#hm-top .navbar-toggle:focus>span.glyphicon, .navbar-default .navbar-toggle:hover>span.glyphicon {
    color: #fff;
}

#hm-top .navbar-default .navbar-nav>.open>a, #hm-top .navbar-default .navbar-nav>.open>a:focus, #hm-top .navbar-default .navbar-nav>.open>a:hover {
    background-color: rgba(0,0,0,0.1);
    color: #fff;
}

#hm-top .nav>li {
    float: left;
    display: block;
}


/*#hm-top .hm-in .nav {
padding: 1px 10px;
}*/

@media (max-width: 767px) {
    #hm-top .nav {
        padding: 1px 10px;
    }
    #hm-top .nav>li {
        /*float: left;*/
        margin: 5px 5px;
        border-radius: 3px;
    }
    #hm-top .nav>li.active a {
        background-color: #3498db;
        color: #fff;
        border-radius: 3px;
    }
    #hm-top .nav li:hover {
        background-color: #3498db;
        color: #fff;
    }
}

#hm-top .nav li:hover {
    background-color: #3498db;
    color: #fff;
}

#hm-top .navbar-nav>li>a {
    line-height: 30px;
}

#hm-top .nav>li>img {
    max-width: none;
}

#hm-top .user-portrait img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

#hm-top img {
    vertical-align: middle;
}

#hm-top img {
    border: 0;
}


/*顶部导航结束-----------------------------------------------------------------------*/


/*左侧分类开始-----------------------------------------------------------------------*/

#main-container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 50px;
}

#main-container>#hm-left.col-md-3 {
    background: #2A3F54;
    height: 100%;
    width: 230px;
    padding: 0;
}

#main-container>#hm-left .hm-dd-menu {
    z-index: 99999;
    position: fixed;
    top: 51px;
    left: 230px;
    border-radius: 0;
    margin: 0;
    top: 51px;
    border: 1px solid #D9DEE4;
    background-clip: inherit;
    border-top: 0;
    border-right: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#main-container>#hm-left #hm-dropdown .hm-dd {
    position: relative;
    left: 70px;
    top: -57px;
    z-index: 99999;
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}



#main-container.zoom>#hm-left {
    width: 70px;
}

#main-container.zoom>#hm-left .profile_info {
    display: none;
}

#main-container.zoom>#hm-left .profile_pic {
    width: 99%;
    text-indent: -10px;
}

#main-container.zoom>#hm-left .hm-dd-menu {
    left: 70px;
}

#main-container.zoom>#hm-left #hm-home {
    height: 65px;
    margin-top: 10px;
    overflow: hidden;
}

#main-container.zoom>#hm-left #hm-home a {
    text-indent: 10px;
    padding: 5px 0;
}

#main-container.zoom>#hm-left #hm-home a i {
    font-size: 25px !important;
    width: 100% !important;
    /*margin-bottom: 3px;*/
}

#main-container.zoom>#hm-left #hm-home a span {
    width: 100%!important;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    height: 12px;
}

#main-container>#hm-left #hm-dropdown ul, #main-container>#hm-left #hm-dropdown ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1px;
}

#main-container>#hm-left #hm-dropdown ul li.open {
    border-right: 3px solid #1ABB9C;
}

#main-container>#hm-left #hm-dropdown a.dropdown-toggle {
    text-indent: 10px;
    padding: 5px 0;
    text-decoration: none;
    display: block;
}

#main-container>#hm-left #hm-dropdown li.open a.dropdown-toggle {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

#main-container>#hm-left #hm-dropdown a.dropdown-toggle i {
    font-size: 25px;
    width: 100%;
    color: white;
}

#main-container>#hm-left #hm-dropdown a.dropdown-toggle span {
    width: 100%;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    color: white;
}

#main-container.zoom>#hm-left .profile {
    height: 70px;
}

#main-container.zoom>#hm-right {
    margin-left: 70px;
}


/*#main-container.zoom>#hm-left .profile_info {
    display: none;
}

#main-container.zoom>#hm-right {
    margin-left: 70px;
}

#main-container.zoom>#hm-left .panel-body ul {
    display: none;
}

#main-container.zoom>#hm-left .panel-title span.fa {
    display: none;
}

#main-container.zoom>#hm-left .panel-title a {
    text-align: center !important;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px;
}

#main-container.zoom>#hm-left .panel-title a i {
    font-size: 25px !important;
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px;
}*/

@media (max-width: 767px) {
    #main-container>#hm-left {
        display: none;
    }
    #main-container.zoom>#hm-left {
        width: 70px;
        float: left;
        display: inherit;
    }
    #main-container>#hm-right {
        margin-left: 0;
    }
    #main-container.zoom>#hm-right {
        margin-left: 70px;
    }
}


/*#main-container.zoom>#hm-left .profile_pic {
        width: 70%;
    }
    #main-container.zoom>#hm-left .profile_info {
        display: none;
    }
    #main-container.zoom>#hm-left .hm-dd-menu {
        left: 70px;
    }*/


/*#main-container.zoom>#hm-left ul {
        display: none;
    }*/


/*用户资料*/

#main-container>#hm-left .profile {
    height: 95px;
}

.profile_pic {
    width: 35%;
    float: left;
}

.profile_info {
    padding: 25px 10px 10px;
    width: 65%;
    float: left;
}

.profile_info span {
    font-size: 13px;
    line-height: 30px;
    color: #fff;
}

.profile_info h2 {
    font-size: 14px;
    color: #ECF0F1;
    margin: 0;
    font-weight: 300;
}

.img-circle.profile_img {
    width: 70%;
    background: #fff;
    margin-left: 30%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px;
}

.open .img-circle.profile_img {
    background: #34C749;
}

.img-circle {
    border-radius: 50%;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}


/*手风琴*/

#sidebar-menu i {
    font-size: 18px;
}

#hm-home {
    margin-bottom: 1px;
}

#hm-home a {
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 10px 0;
    font-style: normal;
    color: rgba(255, 255, 255, 0.75);
    text-indent: 10px;
}

#hm-home a:hover {
    color: white;
    background: #1ABB9C;
}

#hm_menu_second .panel-heading {
    border: 0;
    background: 0;
    text-indent: 10px;
    padding: 0;
}

#hm_menu_second .panel-title {
    font-size: 14px;
}

#hm_menu_second .panel-title a {
    height: 45px;
    line-height: 45px;
    display: block;
    color: white;
    text-decoration: none;
    border: 0;
}

#hm_menu_second .list-group, #hm_menu_second .panel-body {
    border: 0;
}

#hm_menu_second .panel {
    -webkit-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff;
}

#hm_menu_second.panel-group .panel-heading+.panel-collapse>.list-group, #hm_menu_second.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 0;
}

#hm_menu_second .panel-title.active a {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

#hm_menu_second .panel-title.active {
    border-right: 4px solid #1ABB9C;
}

#hm_menu_second.panel-group .collapse.in .panel-body {
    border-right: 4px solid #1ABB9C;
}

#hm_menu_second.panel-group #hm_menu_second .panel-title a:hover {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

#hm_menu_second.panel-group .panel {
    border: 0;
    border-radius: 0;
    background: 0;
}

#hm_menu_second.panel-group .panel-body {
    text-indent: 20px;
    padding: 1px 0 0 0;
}

#hm_menu_second.panel-group .panel+.panel {
    margin-top: 1px;
}

#hm_menu_second ul, #hm_menu_second li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#hm_menu_second ul>li>a {
    cursor: pointer;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    font-style: normal;
    color: rgba(255, 255, 255, 0.75);
}

#hm_menu_second ul>li>a:hover {
    background: #1ABB9C;
    color: white;
}

#hm_menu_second span.fa {
    float: right;
    text-align: center;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 10px;
    min-width: inherit;
    color: #C4CFDA;
}


/*左侧分类结束-----------------------------------------------------------------------*/


/*消息框开始-----------------------------------------------------------------------*/

#hm-history-notice i {
    font-size: 20px;
    color: green;
}

.navbar-nav>li>.dropdown-menu.history {
    /*下拉菜单设置*/
    left: initial;
    /*right: 0;*/
    border-radius: 0;
    margin: 0;
    top: 51px;
    border: 1px solid #D9DEE4;
    background-clip: inherit;
    border-top: 0;
    border-right: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: fixed;
    z-index: 9999;
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        right: inherit;
        left: auto;
    }
}

.hm-custom.ui-pnotify .alert-info {
    background-color: #2c3e50 !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.hm-custom.ui-pnotify .alert-warning {
    background-color: #e67e22 !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.hm-custom.ui-pnotify .alert-danger {
    background-color: #e74c3c !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.hm-custom.ui-pnotify .alert-success {
    background-color: #27ae60 !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.hm-custom.ui-pnotify .alert-info .ui-pnotify-title, .hm-custom.ui-pnotify .alert-info .ui-pnotify-text, .hm-custom.ui-pnotify .alert-warning .ui-pnotify-title, .ui-pnotify .alert-warning .ui-pnotify-text, .hm-custom.ui-pnotify .alert-danger .ui-pnotify-title, .hm-custom.ui-pnotify .alert-danger .ui-pnotify-text, .hm-custom.ui-pnotify .alert-success .ui-pnotify-title, .hm-custom.ui-pnotify .alert-success .ui-pnotify-text {
    text-shadow: 2px 2px 3px black !important;
    color: #FFF !important;
    padding-left: 30px !important;
    line-height: 1 !important;
    text-rendering: geometricPrecision !important;
    width: 220px;
}

.hm-custom.ui-pnotify .alert-info .ui-pnotify-title, .hm-custom.ui-pnotify .alert-info .ui-pnotify-text {}

.hm-custom.ui-pnotify .alert-warning .ui-pnotify-title, .hm-custom.ui-pnotify .alert-warning .ui-pnotify-text {}

.hm-custom.ui-pnotify .alert-danger .ui-pnotify-title, .hm-custom.ui-pnotify .alert-danger .ui-pnotify-text {}

.hm-custom.ui-pnotify .alert-success .ui-pnotify-title, .hm-custom.ui-pnotify .alert-success .ui-pnotify-text {}

.hm-custom.ui-pnotify .glyphicon {
    color: white;
}

.hm-custom.ui-pnotify .ui-pnotify-title {
    font-weight: bold;
}

.hm-custom.ui-pnotify .ui-pnotify-icon {
    float: left;
}

.hm-custom.ui-pnotify .fa {
    margin-top: -3px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: #FF0;
}

.hm-custom .ui-pnotify-closer, .ui-pnotify-sticker {
    /*关闭和暂停按钮*/
    position: absolute;
    width: 70px;
    height: 30px;
    /*background-color: blue;*/
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    cursor: pointer;
}

.hm-custom .ui-pnotify-closer {
    border-top-right-radius: 4px;
    right: 0;
    top: 0;
}

.hm-custom .ui-pnotify-sticker {
    border-bottom-right-radius: 4px;
    right: 0;
    bottom: 0;
}

.hm-custom .ui-pnotify-closer .hm-close {
    border-top-right-radius: 4px;
    border-left: 1px solid #D9DEE4;
    border-bottom: 1px solid #D9DEE4;
}

.hm-custom .ui-pnotify-sticker .hm-down {
    border-bottom-right-radius: 4px;
    border-left: 1px solid #D9DEE4;
}

.hm-custom .ui-pnotify-closer .hm-close, .hm-custom .ui-pnotify-sticker .hm-down {
    height: 100%;
    /*line-height: 100%;*/
    color: #717171;
    /*text-align: center;*/
    display: block;
    padding: 10px;
    background-color: #F0F0F0;
}

.hm-custom .ui-pnotify-sticker .hm-up {
    border-bottom-right-radius: 4px;
    height: 100%;
    /*line-height: 52px;*/
    color: #fff;
    /*text-align: center;*/
    display: block;
    padding: 10px;
    background-color: #3498db;
}


/*消息框结束-----------------------------------------------------------------------*/


/*pace进度条开始*/


/*遮罩效果*/

#hm-shade.on {
    display: block;
    position: absolute;
    z-index: 102000;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
#hm-shade {
  -vendor-animation-duration: 4s;
  -vendor-animation-delay: 3s;
  -vendor-animation-iteration-count: infinite;
}

/*pace进度条结束*/
/*input样式开始*/
.hm-form .input-group{
    margin-bottom: 10px;
}
.hm-form input.form-control{
    -ms-box-shadow: 0 0 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -o-box-shadow: 0 0 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    box-shadow: 0 0 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    color: #777;
    width: 100%
}
.hm-form .btn{
    width: 100%;
}
.hm-form .glyphicon-remove{
    color: #e74c3c;
}
.hm-form .glyphicon-ok{
    color: #27ae60;
}
/*parsel验证css*/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #27ae60;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #e74c3c;
}

.parsley-errors-list {
  margin: 5px 0 0px;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  opacity: 0;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}
.parsley-errors-list li{
    display: block;
    color: white;
    padding: 5px 10px;
    background-color: #e74c3c;
    border-radius: 3px;
}
.parsley-errors-list>.jt{
    display: block;
    border-left:6px solid transparent;
   border-right:6px solid transparent;
   border-bottom:6px solid #e74c3c;
   position:absolute;
   top:34px;
   left: 20px;
   width:0;
    height:0;
}
.parsley-errors-list.filled {
  opacity: 1;
}
/*input样式结束*/


/*右侧内容开始-----------------------------------------------------------------------*/


/*右侧内容结束-----------------------------------------------------------------------*/


/*字体图标的配色方案*/

.fa-mac-1 {
    color: #34C749;
    background-color: #34C749;
}

.fa-mac-2 {
    color: #FC635D;
    background-color: #FC635D;
}

.fa-color-1 {
    color: #1abc9c;
    background-color: #1abc9c;
}

.fa-color-2 {
    color: #2ecc71;
    background-color: #2ecc71;
}

.fa-color-3 {
    color: #3498db;
    background-color: #3498db;
}

.fa-color-4 {
    color: #9b59b6;
    background-color: #9b59b6;
}

.fa-color-5 {
    color: #34495e;
    background-color: #34495e;
}

.fa-color-6 {
    color: #16a085;
    background-color: #16a085;
}

.fa-color-7 {
    color: #27ae60;
    background-color: #27ae60;
}

.fa-color-8 {
    color: #2980b9;
    background-color: #2980b9;
}

.fa-color-9 {
    color: #8e44ad;
    background-color: #8e44ad;
}

.fa-color-10 {
    color: #2c3e50;
    background-color: #2c3e50;
}

.fa-color-11 {
    color: #f1c40f;
    background-color: #f1c40f;
}

.fa-color-12 {
    color: #e67e22;
    background-color: #e67e22;
}

.fa-color-13 {
    color: #e74c3c;
    background-color: #e74c3c;
}

.fa-color-14 {
    color: #ecf0f1;
    background-color: #ecf0f1;
}

.fa-color-15 {
    color: #95a5a6;
    background-color: #95a5a6;
}

.fa-color-16 {
    color: #f39c12;
    background-color: #f39c12;
}

.fa-color-17 {
    color: #d35400;
    background-color: #d35400;
}

.fa-color-18 {
    color: #c0392b;
    background-color: #c0392b;
}

.fa-color-19 {
    color: #bdc3c7;
    background-color: #bdc3c7;
}

.fa-color-20 {
    color: #7f8c8d;
    background-color: #7f8c8d;
}

.fa-color-21 {
    color: white;
    background-color: #;
}

.ccc {
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    color: white;
}
/*右侧内容区域*/

#hm-right {
    background: #fff;
    /*padding: 10px 20px 0;*/
    margin-left: 230px;
    width: auto;
    height: 100%;
    top: 51px;
}
#hm-right>#hm-tabs{
    height: 40px;
    line-height: 40px;
    width: 100%;

    background-color: inherit;
    /* background-color: #F0F0F0; */
    background: linear-gradient(#fff, #f0f0f0), #F0F0F0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    border: 0;
    /*border-top:1px solid #D9DEE4;*/
    border-bottom:1px solid #D9DEE4;
    padding: 0;
    margin: 0;
}
#hm-right>#hm-tabs>li{
    height: 40px;
    line-height: 40px;
    list-style: none;
    float: left;
    /*display: block;*/
    /*background: red;*/
    /*margin-right: 10px;*/
    /*padding: 0 15px;*/
    /*padding-left: 10px;*/
}
#hm-right>#hm-tabs>li {
  /*height: 35px;
  overflow: hidden;
  margin-top: 5px;*/
  /*background: #dedede;
  background: rgba(0,0,0,0.05);
  color: #777;*/
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,.nav-tabs>li>a:hover {
    border: 0;
    background: #1ABB9C;
    color: white;
    z-index: 777;
}
.nav-tabs>li>a {
    margin-right: 0;
    /*line-height: 1.42857143;*/
    border: 0;
    border-radius: 0;
    padding: 10px 20px 10px 15px;
    color: #666;
}
#hm-right>#hm-tabs{
    /*position: absolute;
    top: 0px;
    left: 0px;*/
}

#hm-right>#hm-tabs>li i{
    position: absolute;
    right: 6px;
    z-index: 800;
    padding: 3px;
    border-radius: 3px;
}
#hm-right>#hm-tabs>li i:hover,#hm-right>#hm-tabs>li.acitve i:hover{

    background: blue;
    color: white;
}
@media (min-width: 768px) {
    #hm-right>#hm-tabs-content{
        /*margin-top: 40px;*/
    }
}
@media (max-width: 768px) {
    #hm-right>#hm-tabs-content{
        margin-top: 0;
    }
    #hm-right>#hm-tabs{
        display: none;
    }
}
