<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台首页</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/common/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/common/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/common/vendor/pnotify/pnotify.custom.min.css" media="all" type="text/css" />
    <link rel="stylesheet" href="/static/common/vendor/pace/pace.hm.css">
    <link rel="stylesheet" href="/static/common/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="/static/common/vendor/dialog/sweetalert2.min.css">
    <link rel="stylesheet" href="/static/common/vendor/tip/tippy.css">
    <link rel="stylesheet" href="/static/common/css/admin.css">
    <style>
        body {
            background: linear-gradient(#fff, #f0f0f0), #F0F0F0;
            box-shadow: rgba(0, 0, 0, 0.25) 0 0 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
        }

        #login {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            bottom: 100%;
            margin: auto;
            width: 320px;
            height: 210px;
            /*background-color: rgba(0, 0, 0, 0.5);*/
            border-radius: 3px;
            padding: 20px;
            z-index: 9999;
        }

        #login h1 {
            color: #777;
            text-align: center;
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: bold;
        }

        #login .layui-form-label {
            color: white;
            padding-left: 0;
            width: 35px;
        }

        #login .layui-input-block {
            margin-left: 50px;
        }

        #login .layui-btn {
            width: 100%;
            margin-top: 10px;
            background-color: #1E9FFF;
        }
    </style>
</head>

<body>
    <div id="hm-shade"></div>
    <div id="hm-app">
        <div id="login">
            <hm-form action="/intendant/login">
                <h1>Hmcms管理登录</h1>
                <!-- <div class="form-group has-feedback">
                    <div class="col-sm-12">
                        <input type="text" name="username" class="form-control">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div> -->
                <hm-form-input domtype="text" name="username"></hm-form-input>
                <hm-form-input domtype="text" name="password"></hm-form-input>
                <!-- <hm-input-group>
                    <hm-input-addon>s</hm-input-addon>
                    <hm-input domtype="text" name="username" hint="请输入账号" verify="title"></hm-input>
                </hm-input-group>
                <hm-input-group>
                    <hm-input-addon>ss</hm-input-addon>
                    <hm-input domtype="password" name="password" hint="请输入账号" verify="title"></hm-input>
                </hm-input-group> -->
                <!-- <hm-form-item>
                        <hm-form-label>密码:</hm-form-label>
                        <hm-input-block>
                            <hm-input domtype="password" name="password" hint="请输入密码" verify="title"></hm-input>
                        </hm-input-block>
                    </hm-form-item> -->
                <hm-form-button>登录</hm-form-button>
            </hm-form>
        </div>
        <!-- <hm-login>

        <hm-input domtype="text" name="one" verify="title"></hm-input>
        <hm-input domtype="password" name="two" verify="title"></hm-input>
        <hm-input domtype="textarea" name="three" verify="title|"></hm-input>
        <hm-input domtype="edit" domid="exisd"></hm-input>
    </hm-login> -->

    </div>
</body>
<script src="/static/common/vendor/pace/pace.min.js"></script>
<script src="/static/common/vendor/jquery/jquery-2.2.4.min.js"></script>
<script src="/static/common/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/common/vendor/pnotify/pnotify.custom.min.js"></script>
<script src="/static/common/vendor/dialog/sweetalert2.min.js"></script>
<!-- <script src="/static/common/vendor/validator/validator.min.js"></script> -->
<script src="/static/common/vendor/tip/tippy.min.js"></script>
<!-- <script src="/static/common/vendor/validate/jquery.validate.min.js"></script> -->
<script src="/static/common/vendor/parsley/parsley.min.js"></script>
<script src="/static/common/js/jquery/jquery.cookie.js"></script>
<!-- <script src="/static/common/js/layui/layui.all.js"></script> -->
<script src="/static/common/js/admin/language/language.js"></script>
<script src="/static/common/js/admin/global.js"></script>
<script src="/static/common/js/admin/hmMenuTab.js"></script>
<script src="/static/common/js/admin/common.js"></script>
<script src="/static/common/js/dist/hm-back-stage.js"></script>
<script>
    // $("form").validate({
    //
    //     submitHandler: function(form) {
    //         alert("asdfsa");
    //     },
    //     errorElement: "em",
    //     errorPlacement: function(error, element) {
    //         // Add the `help-block` class to the error element
    //         error.addClass("help-block");
    //
    //         if (element.prop("type") === "checkbox") {
    //             error.insertAfter(element.parent("label"));
    //         } else {
    //             error.insertAfter(element);
    //         }
    //     },
    //     highlight: function(element, errorClass, validClass) {
    //         $(element).parents(".col-sm-12").find('.glyphicon').addClass('glyphicon-remove').removeClass('glyphicon-ok');
    //         $(element).parents(".col-sm-12").addClass("has-error").removeClass("has-success");
    //     },
    //     unhighlight: function(element, errorClass, validClass) {
    //         $(element).parents(".col-sm-12").find('.glyphicon').addClass('glyphicon-ok').removeClass('glyphicon-remove');
    //         $(element).parents(".col-sm-12").addClass("has-success").removeClass("has-error");
    //     }
    // });
    /* CSS自定义 */
    // window.ParsleyConfig = $.extend(window.ParsleyConfig || {}, {
    //     successClass: 'jv-form-success',
    //     errorClass: 'jv-form-danger',
    //     errorsWrapper: '<ul class="jv-form-error-msg"></ul>',
    //     errorTemplate: '<li></li>'
    // });

    window.Parsley.on('field:error', function() { //验证失败显示图标
        this.$element.parents(".col-sm-12").find('.glyphicon').addClass('glyphicon-remove').removeClass('glyphicon-ok');
        // console.log(this.$element.parents(".col-sm-12").find('div.jt').length == 0);
        if (this.$element.parents(".col-sm-12").find('div.jt').length == 0) {
            this.$element.parents(".col-sm-12").find('.parsley-errors-list').append('<div class="jt"></div>');
        }

    });
    window.Parsley.on('field:success', function() { //验证成功显示图标
        this.$element.parents(".col-sm-12").find('.glyphicon').addClass('glyphicon-ok').removeClass('glyphicon-remove');
    });

    Parsley.on('form:submit', function() {
        console.log('进去了');
        var that = $('.hm-form');
        var param = that.serialize();
        console.log(param);

        // console.log(that.serialize());
        Pace.track(function() {


            $.ajax({
                type: 'post',
                url: that.attr('action'),
                data: param,
                dataType: "json",
                beforeSend: function() {
                    // myload = layer.load(0, {
                    //     time: 3 * 1000
                    // });
                    //进度条给予遮罩层
                    $("#hm-shade").addClass('on');
                    //给遮罩层一个消失动画
                    $('#hm-shade').animateCss('fadeOut');
                    Pace.restart();
                },
                success: function(msg) {
                    Pace.stop();
                    // alert('111');
                    console.log('阿斯蒂芬');
                    // if (msg.status === 1) {
                    //     admin.success(msg.info, '#loginsubmit');
                    //     setTimeout(function() {
                    //         window.location.href = redirect
                    //     }, 3000);
                    // } else {
                    //     layer.close(myload);
                    //     admin.error(msg.info, '#loginsubmit');
                    //     formLogin.attr('disabledSubmit', "");
                    //     // refreshs();
                    //     // $('.yanzheng_img').eq(0).click();
                    //     // $('#verify').val('')
                    // }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    // admin.error('网络连接异常！', '#loginsubmit');
                    // formLogin.attr('disabledSubmit', "");
                    // return false;
                    Pace.stop();
                }
            });
        });
        return false; // Don't submit form for this demo
    });
    $('.hm-form').parsley();
</script>

</html>
