<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/static/common/js/layui/css/layui.css">
    <link rel="stylesheet" href="/static/common/js/dist/vue.css">
    <link rel="stylesheet" href="/static/common/css/admin-first.css">
</head>
<body>
<div id="app">
    <hm-login>

        <hm-input domtype="text" name="one"></hm-input>
        <hm-input domtype="password" name="two"></hm-input>
        <hm-input domtype="textarea" name="three"></hm-input>

    </hm-login>

</div>
</body>
<script src="/static/common/js/jquery/jquery-1.12.3.min.js"></script>
<script src="/static/common/js/layui/layui.all.js"></script>
<script src="/static/common/js/admin/common.js"></script>
<script src="/static/common/js/dist/hm-back-stage.js"></script>
<script>
//一般直接写在一个js文件中
// layer.msg('hello world');
</script>
</html>
